#sb-background {
    /* background-image: url("/ocean-water.jpg"); */
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.4)), url("/ocean-water.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#nav {
    height: 90px;
    background: none;
    transition: all .5s ease-in-out;
}

.scrolled {
    background-color: #fff !important;
    transition: all .5s ease-in-out;
}

.navbar-item img {
    max-height: 50px;
}

.button.is-primary {
    background-color: #48b5e0;
}
